/output/

*.html
*.rds
.snakemake/*
.snakemake/metadata/

logs/*

*.h5
__pycache__/*
tmp*
old_datasets/*
dag.pdf

work/*
.vscode/
.nextflow*

results/

results_* 

07_metaanalysis_files*
07_prep_metaanalysis_files*

08_metaanalysis_files*

log.txt

*__pycache__*
.Rproj.user
*.Rproj
*.pdf